:root {
    --bg-color: #fff;
    --header-bg-color: rgba(255, 255, 255, 0.7);
    --header-hv-bg-color: rgba(255, 255, 255, 1);
    --color: #222a3c;
    --p-color: #d95163;
    --s-color: #596275;
    --logo-width: 20vw;
    --nav-padding: 1rem;
    --nav-font-size: 1rem;
    --title-font-size: 3rem;
    --title-padding: 2rem;
    --content-padding: 3rem;
    --about-logo-width: 30vw;
}

@media only screen and (min-width: 360px) {
    :root {
        --logo-width: 50vw;
        --nav-padding: 0.4rem;
        --nav-font-size: 1rem;
        --title-font-size: 2rem;
        --title-padding: 1rem;
        --about-logo-width: 50vw;
        --content-padding: 1rem;
    }
}

@media only screen and (min-width: 360px) and (orientation: landscape) {
    :root {
        --about-logo-width: 20vw;
        --logo-width: 28vw;
        /* --content-padding: 1rem; */
    }
}


@media only screen and (min-width: 1300px) {
    :root {
        --content-padding: 3rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahome, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    color: var(--color);
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--bg-color);
    padding: 1rem;
    background-color: var(--header-bg-color);
    text-align: right;
}

header:hover {
    background-color: var(--header-hv-bg-color);
}

header nav a {
    padding: var(--nav-padding) var(--nav-padding);
    color: var(--s-color);
    font-size: var(--nav-font-size);
    text-transform: capitalize;

}

header nav a.active,
header nav a:hover {
    color: var(--color);
    text-decoration: underline;
}

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding-top: 2rem;
    flex-direction: column
}

section h2 {
    font-family: 'Noto Sans';
    font-size: var(--title-font-size);
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--color);
    width: 90vw;
    text-align: center;
    padding: var(--title-padding);
    border-bottom: 1px solid var(--color);
}

section#home {
    justify-content: center;
    align-items: center;
}

section#home img {
    min-width: var(--logo-width);
    max-width: var(--logo-width);
}

section#services img,
section#about img {
    margin: var(--content-padding);
    max-width: var(--about-logo-width);

}

section#services .container,
section#services .tab,
section#about div.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 70vw;
}

section#services .col,
section#about div.col {
    padding-top: var(--content-padding);
    text-align: center;
    flex: 50%;
}

section#services div.content,
section#about div.col.content {
    text-align: justify;

}

section#services div.col p,
section#about div.col.content p {
    padding: 1rem 0 1rem 0;
}

section#services div.col.content ul,
section#about div.col.content ul {
    text-align: justify;
    margin-left: 1rem;
}

section#services h2 {
    border: 0px;
    /* padding: calc(var(--title-padding) + 1rem); */
}

section#services div.tabs {
    width: 90vw;
    text-align: center;
    border-bottom: 1px solid var(--color);
}

.tabs {
    position: relative;
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tabs::before,
.tabs::after {
  content: "";
  display: table;
}
.tabs::after {
  clear: both;
}

.tab-switch {
    display: none;
}

.tab-label {
    position: relative;
    display: block;
    top: .15rem;    
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: solid;
    text-align: center;
}

.tab-label:hover {
    vertical-align: bottom;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 3px solid var(--p-color);
    color: var(--p-color);
    text-decoration: solid;
    text-align: center;
    transition: all 0.25s;
}


.tab-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 70vw;
    left: 0;
    position: absolute;
    top: 2.75em;
    opacity: 0;
    z-index: 1;    
}

.tab-switch:checked + .tab-label {
    z-index: 1;
    padding-left: 1rem;
    border-bottom: 3px solid var(--p-color);
    color: var(--p-color);
    text-decoration: solid;
    transition: all 0.25s;
}

.tab-switch:checked + label +.tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.5s;
}