
:root {
  --bs-nav-link-color: #222A3C;
  --bs-nav-link-padding-x: 10px;
  --bs-nav-link-padding-y: 10px;

  --logo-min-width: 40%
}

@media screen and (min-width: 300px) and (orientation: portrait) {
:root{
  --logo-min-width: 80%
}
 
}

.logo {
  width: 50%;
  min-width: var(--logo-min-width);
}

.nav-link.active {
  text-decoration: underline;
}